<div class="container">
	<div class="form-container sign-up-container">
<div class="login-form">
    <div class="box">
        <div class='form'>
            <p>Login Page</p>
            <input type="text" [(ngModel)] = "username" class="input" name="username"  placeholder="Username">
            <input type="text" [(ngModel)] = "password" placeholder='Password' class="input"><br>
            <button class="button" name='btn' (click)='onLogin()'>Login</button>
        </div>
        <br>
    </div>
</div>
</div>
</div>